<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="nanbar-header">
            <a routerLink="/" class="navbar-brand">Home</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/getAllUsers">
                    Get All Users</a></li>
                <li routerLinkActive="active"><a routerLink="/getUserChannels">
                    Get User Channel's</a></li>
                <li routerLinkActive="active"><a routerLink="/getAllChannels">
                    Get All Channels</a></li>
            </ul>
        </div>
    </div>
</nav>
